.hidden {
    display: none;
}

.gallery {
    margin-top: 50px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 40px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 20px;
    transition: transform 0.4s;
}

.gallery-grid img:hover {
    transform: scale(1.08);
}

/* HEART */
.heart {
    position: fixed;
    color: red;
    font-size: 20px;
    animation: fall linear infinite;
}

@keyframes fall {
    0% { transform: translateY(-10vh); opacity: 1; }
    100% { transform: translateY(100vh); opacity: 0; }
}